body {
  background: #333;
  color: #eee;
  margin: 0px;
  padding: 0px;
  text-shadow: black 0px -1px 1px;
  font: 11px/14px "Helvetica Neue", sans-serif;
}

#container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#header {
  position: fixed;
  z-index: 10;
  top: 0px;
  left: -8px;
  right: -8px;
  padding: 0px 16px;
  height: 44px;
  background: #434343 -webkit-gradient(linear, 0% 0%, 0% 100%, from(#3F3F3F), to(#1B1B1B), color-stop(.5,#272727),color-stop(.5,#1B1B1B));
  -webkit-box-shadow: black 0px 1px 4px;
}

#header ul {
  position: absolute;
  top: 4px;
  right: 16px;
  margin: 0px;
  padding: 0px;
}

#header ul li {
  display: inline;
  list-style: none;
}

#header ul li a {
  display: block;
  float: left;
  margin: 0px 1px;
  width: 74px;
  height: 24px;
  line-height: 12px;
  padding: 6px 0px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  font-size: 10px;
  color: #a8a8a8;
  background: rgba(255, 255, 255, 0);
  text-shadow: black 0px 1px 1px;
  -webkit-border-radius: 4px;
  -webkit-box-shadow: inset rgba(0, 0, 0, 0) 0px 1px 2px;
  -webkit-transition:
    background 0.25s ease-in-out, 
    color 0.25s ease-in-out,
    -webkit-box-shadow 0.25s ease-in-out;
}

#header ul li.active a {
  color: white;
  background: rgba(255, 255, 255, 0.15);
  -webkit-box-shadow: inset rgba(0, 0, 0, 0.25) 0px 1px 2px;
}

/*#header h1:after {
  content: '✈';
}
*/
#header dl {
  float: right;
  position: relative;
  margin: 0;
  padding: 0;
  color: #666;
  font-weight: bold;
  height: 28px;
  width: 22em;
}

#header dl dt {
  float: left;
  width: 10em;
  margin: 0 -11em 0 0;
  padding: 0 0.5em;
  text-align: center;
  text-transform: uppercase;
}

#header dl dd {
  float: left;
  margin: -0px 0 0 0;
  padding: 0px 0.5em 0px;
}

#header dl dd a {
  display: block;
  padding-top: 12px;
  text-decoration: none;
  color: #666;
}

#header dt.active,
#header dd.active a {
  color: white;
}

#flights {
  position: fixed;
  top: 44px;
  left: 0;
  right: 0;
  bottom: 24px;
  width: auto;
  height: auto;
}

#flights ul {
  margin: 0;
  padding: 0;
}

#flights li {
  display: block;
  list-style: none;
  margin: 0px;
  padding: 8px;
  background: #f8f8f8 -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.1)), to(rgba(0, 0, 0, 0.1)));
  border-top: 1px solid white;
  border-bottom: 1px solid #ccc;
  overflow: hidden;
  color: #333;
  text-shadow: rgba(255, 255, 255, 0.5) 0px 1px 0px;
}

#flights li.delayed                 .status { color: #ff5800; }
#flights li.departed                .status { color: #ed1c24; }
#flights li.departing               .status { color: #ed1c24; }
#flights li.final-call              .status { color: #ed1c24; }
#flights li.go-to-departure-lounge  .status { color: #549820; }
#flights li.go-to-departure-gate    .status { color: #549820; }
#flights li.go-to-checkin           .status { color: #549820; }
#flights li.landed                  .status { color: #549820; }
#flights li.new-time                .status { color: #008fd0; }

#flights li .flight-numbers,
#flights li .info {
  display: block;
  float: left;
  width: 64px;
}

#flights li .cities {
  display: block;
  font-size: 125%;
  margin-top: -0.2em;
  margin-bottom: 2px;
}

#flights li .flight-numbers {
  font-weight: bold;
}

#flights li .info {
  width: 160px;
}

#flights li .info .status {
  display: block;
  font-weight: bold;
}

#flights li .time {
  float: right;
  width: 3em;
  text-align: right;
  font-size: 150%;
}

#flights li .time del {
  display: block;
  color: #999;
  text-decoration: line-through;
  text-shadow: none;
  font-size: 85%;
}

#flights li .gate {
  display: block;
  float: right;
  background: #999;
  color: #eee;
  font-weight: bold;
  line-height: 16px;
  font-size: 125%;
  padding: 4px;
  margin: 0px;
  min-width: 16px;
  min-height: 16px;
  text-align: center;
  text-shadow: #333 0px 1px 1px;
  -webkit-border-radius: 12px;
  -webkit-box-shadow: inset #333 0px 1px 1px, white 0px 1px 1px;
}

#loading {
  position: fixed;
  left: 20px;
  right: 20px;
  top: 65%;
  opacity: 0.5;
}

#loading .icon {
	display:block;
	float:left;
	width:40px;
	height:40px;
	margin-right: 5px;
	background:url(../img/pull-icon.png) 0 100% no-repeat;
	background-size:40px 80px;
	-webkit-animation-name:loading;
	-webkit-animation-duration:1.5s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-timing-function:linear;
}

#loading p {
  margin: 0px;
  padding: 0px;
  font-size: 200%;
  text-shadow: none;
  color: #ccc;
  line-height: 36px;
  vertical-align: middle;
}


/**
 *
 * Styles specific to the pull down/up element
 *
 */
.iScrollPullDown,
.iScrollPullUp {
	background:#eee;
	border-bottom:1px solid #ccc;
	height:40px;
	line-height:40px;
	padding:5px 10px;
	font-size:14px;
	color:#999;
	text-shadow: none;
	font-weight:bold;
	-webkit-transform:translate3d(0,0,0);	/* Put the element in the HW accelerated layer */
}

.iScrollPullDownIcon,
.iScrollPullUpIcon {
	display:block; float:left;
	width:40px; height:40px;
	background:url(../img/pull-icon.png) 0 0 no-repeat;
	background-size:40px 80px;
	margin-right:5px;
	-webkit-transition-property:-webkit-transform;
	-webkit-transition-duration:250ms;
	-webkit-transform:rotate(0);
}

.iScrollPullDown.flip .iScrollPullDownIcon {
	-webkit-transform:rotate(-180deg);
}

.iScrollPullDown.loading .iScrollPullDownIcon,
.iScrollPullUp.loading .iScrollPullUpIcon {
	background-position:0 100%;
	-webkit-animation-name:loading;
	-webkit-animation-duration:1.5s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-timing-function:linear;
}

.iScrollPullUp {
	border-bottom:0;
}

.iScrollPullUpIcon {
	-webkit-transform:rotate(-180deg);
}

.iScrollPullUp.flip .iScrollPullUpIcon {
	-webkit-transform:rotate(0);
}

@-webkit-keyframes loading {
	from { -webkit-transform:rotate(0deg); }
	to { -webkit-transform:rotate(360deg); }
}

@media screen and (-webkit-min-device-pixel-ratio:2) {
	.iScrollPullDownIcon,
	.iScrollPullUpIcon {
		background-image:url(../img/pull-icon@2x.png);
	}
}

#info {
  position: fixed;
  top: 100%;
  margin-top: -24px;
  left: -8px;
  right: -8px;
  bottom: 0px;
  background: rgba(255, 255, 255, 0.9);
  color: #333;
  font-size: 13px;
  line-height: 24px;
  text-shadow: none;
  padding: 24px 8px 0px;
  overflow: hidden;
  -webkit-transition: top 0.25s ease-out, margin-top 0.25s ease-out;
}

#info.open {
  top: 0%;
  margin-top: 44px;
}

#info a.toggle {
  position: absolute;
  right: 16px;
  top: 4px;
  line-height: 16px;
  width: 16px;
  text-align: center;
  vertical-align: middle;
  background: #eee;
  color: #222;
  font-weight: bold;
  font-style: italic;
  font-family: serif;
  font-size: 16px;
  text-decoration: none;
  -webkit-border-radius: 8px;
  z-index: 3;
  -webkit-box-shadow: inset rgba(0, 0, 0, 0.25) 0px 1px 1px;
}

#info .about {
  padding: 12px;
  line-height: 16px;
  color: #333;
  text-shadow: rgba(255, 255, 255, 0.5) 0px 1px 1px;
  position: relative;
}

#info h2 {
  font-size: 18px;
  margin: 0px;
  color: black;
}

#info h2:before {
  content: "✈";
  position: absolute;
  right: 0px;
  bottom: 0px;
  font-size: 240px;
  opacity: 0.1;
}

#info p {
  margin: 1ex 0px 0px;
  position: relative;
}

#info a {
  color: #ec008c;
  text-decoration: none;
}

#info .attribution {
  position: absolute;
  left: 8px;
  right: 8px;
  top: 0px;
  height: 24px;
  line-height: 24px;
  vertical-align: middle;
  background: #222;
  z-index: 2;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 4px;
}

#info .attribution a {
  color: #bbb;
}

#info.open .attribution a {
  color: #ec008c;
}

#info .attribution p {
  color: #999;
  margin: 0px;
  padding: 0px 8px;
}